// Theme's Palette
@import("D:/project/self/githubPage/siroi.github.io/theme-vdoing/styles/palette.styl")

// User's Palette
@import("D:/project/self/githubPage/siroi.github.io/docs/.vuepress/styles/palette.styl")